<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rememberme">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RememberMe">
        <activity android:name=".WalkthroughActivity">
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditFramilyProfile" android:theme="@style/Theme.RememberMe.NoActionBar"/>
        <activity android:name=".FramilyProfile" android:theme="@style/Theme.RememberMe.NoActionBar"/>
        <!--activity android:name=".AddMemoryActivity" /-->
        <activity android:name=".EditUserProfileActivity" android:theme="@style/Theme.RememberMe.NoActionBar"/>
        <activity android:name=".AddEditMemoryActivity" android:theme="@style/Theme.RememberMe.NoActionBar"/>
        <activity android:name=".ViewMemory" />

        <activity android:name=".quiz.Quiz" android:theme="@style/Theme.RememberMe.NoActionBar"/>
        <activity android:name=".quiz.QuizResult" android:theme="@style/Theme.RememberMe.NoActionBar"/>
        <activity android:name=".quiz.Flashcard" android:theme="@style/Theme.RememberMe.NoActionBar"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.rememberme"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>